<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A simple online planner designed to minimize procrastination.">
    <meta name="author" content="Jerry Zhu">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#1565c0">
    <meta name="apple-mobile-web-app-title" content="Procrastinator">
    <meta name="application-name" content="Procrastinator">
    <meta name="theme-color" content="#1565c0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="colorPickerStyle.css">
    <title>Procrastinator</title>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-46279206-4', 'auto');
    ga('send', 'pageview');

    </script>
</head>
<body ng-app="App" ng-controller="mainController" md-theme="{{ theme }}" ng-cloak>
    <md-content style="min-height:100%" layout="column" layout-align="start">
        <md-toolbar class="md-hue-2" ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="showSideNav()" aria-label="Settings">
                    <md-icon md-font-library="material-icons">menu</md-icon>
                </md-button>
                <h2>
                    <span>Procrastinator</span>
                </h2>
                <span flex></span>

                <md-input-container md-no-float flex hide show-gt-sm md-theme="dark">
                    <input ng-model="search" placeholder="Search">
                    <md-icon md-font-library="material-icons" flex hide show-gt-sm>search</md-icon>
                </md-input-container>

                <md-button class="md-icon-button" aria-label="Search" hide-gt-sm ng-click="toggleSearch()">
                    <md-icon md-font-library="material-icons">search</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar md-theme="{{'input-' + theme }}" class="md-hue-1" ng-show="showSearch">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="toggleSearch();search=''" aria-label="Back">
                    <md-icon md-font-library="material-icons">arrow_back</md-icon>
                </md-button>
                <md-input-container md-no-float flex>
                    <input ng-model="search" placeholder="Search" focus-me="showSearch">
                </md-input-container>
                <md-button class="md-icon-button" aria-label="Search" ng-click="toggleSearch();search=''">
                    <md-icon md-font-library="material-icons">search</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-sidenav class="md-sidenav-left" md-component-id="left" md-is-locked-open="false" md-whiteframe="4">
            <md-content>
                <md-toolbar class="md-hue-2">
                    <div class="md-toolbar-tools" ng-click="showSideNav()">
                        <h1>Back</h1>
                    </div>
                </md-toolbar>
                <md-list flex>
                    <md-list-item ng-click="showDialog($event, '#settings')">
                        <div class="md-list-item-text" layout="row">
                            <md-icon md-font-library="material-icons">settings</md-icon>
                            &nbsp; Settings
                        </div>
                    </md-list-item>
                    <md-list-item  ng-click="showDialog($event, '#about', true)">
                        <div class="md-list-item-text" layout="row">
                            <md-icon md-font-library="material-icons">info</md-icon>
                            &nbsp; About
                        </div>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-sidenav>
        <div class="loading" ng-hide="(driveAuth&&driveLoaded)||!driveAuth">
            <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <md-content class="card-container" flex="100">
            <md-list flex>
                <md-list-item class="md-2-line" ng-if="creating&&!showSearch">
                    <div class="md-list-item-text">
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Name</label>
                            <input ng-model="newAssignment.name">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs>
                            <label>Description</label>
                            <input ng-model="newAssignment.description" md-select-on-focus></input>
                        </md-input-container>
                    </div>
                    <md-datepicker class="md-secondary" ng-model="newAssignment.dueDate" md-placeholder="Enter due date"></md-datepicker>
                    &nbsp;
                    <md-button class="md-secondary" ng-click="addAssignment()" aria-label="Save">
                        Save
                    </md-button>
                    <md-button class="md-icon-button md-secondary" aria-label="Settings" ng-click="hideNewAssignment()">
                        <md-icon md-font-library="material-icons">close</md-icon>
                    </md-button>
                </md-list-item>
                <md-list-item class="md-2-line" ng-repeat="assignment in assignments|filter:search|orderBy:'dueDate' track by assignment.id" ng-click="null">

                    <div class="md-list-item-text" ng-hide="assignment.editing">
                        <h3>
                            <md-icon md-font-library="material-icons">info</md-icon>
                            {{assignment.name}}
                        </h3>
                        <p>
                            {{assignment.description}}
                        </p>
                    </div>
                    <p class="md-secondary" ng-hide="assignment.editing">
                        {{getDateDiff(assignment)}}
                    </p>
                    <md-button class="md-icon-button md-secondary" ng-click="startEdit(assignment)" aria-label="Edit"  ng-hide="assignment.editing">
                        <md-icon md-font-library="material-icons">edit</md-icon>
                    </md-button>
                    <md-button class="md-icon-button md-secondary" ng-click="removeAssignment(assignment)" aria-label="Delete"  ng-hide="assignment.editing">
                        <md-icon md-font-library="material-icons">delete</md-icon>
                    </md-button>
                    <div class="md-list-item-text" ng-show="assignment.editing">
                        <md-input-container class="md-block" flex-gt-xs ng-show="assignment.editing">
                            <label>Name</label>
                            <input ng-model="assignment.editedName">
                        </md-input-container>
                        <md-input-container class="md-block" flex-gt-xs ng-show="assignment.editing">
                            <label>Description</label>
                            <input ng-model="assignment.editedDescription" md-select-on-focus></input>
                        </md-input-container>
                    </div>

                    <md-datepicker class="md-secondary" ng-model="assignment.editedDueDate" md-placeholder="Enter due date" ng-show="assignment.editing"></md-datepicker>
                    &nbsp;
                    <md-button class="md-secondary" ng-click="editAssignment(assignment,true)" aria-label="Save" ng-show="assignment.editing">
                        Save
                    </md-button>
                    <md-button class="md-icon-button md-secondary" aria-label="Settings" ng-click="editAssignment(assignment, false)" ng-show="assignment.editing">
                        <md-icon md-font-library="material-icons">close</md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="settings">
                <md-dialog layout-padding>
                    <h2>Settings</h2>
                    <div layout="row" layout-align="center center">
                        <md-button md-theme="light" ng-click="setTheme('light')">Light Theme</md-button>
                        <md-button md-theme="dark" ng-click="setTheme('dark')">Dark Theme</md-button>
                    </div>
                    <div layout="row" ng-hide="driveAuth" layout-align="center center">
                        <md-button ng-click="handleAuthClick(event)">Link to Google</md-button>
                    </div>
                </md-dialog>
            </div>
        </div>
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="about">
                <md-dialog>
                    <md-toolbar class="md-hue-2">
                        <div class="md-toolbar-tools">
                            <h2>
                                <span>About</span>
                            </h2>
                            <span flex></span>
                            <md-button class="md-icon-button" ng-click="hideDialog()" aria-label="Close">
                                <md-icon md-font-library="material-icons">close</md-icon>
                            </md-button>
                        </div>
                    </md-toolbar>
                    <md-dialog-content style="margin-right:-1px">
                        <div class="md-dialog-content">
                            <p class="md-body-1">
                                Procrastinator is a simple online planner designed to minimize procrastination.
                            </p>
                            <h2 class="md-headline">Help</h2>
                            <p class="md-body-1">
                                Add assignments using the add button on the bottom right. <br>
                                Enter a name, short description, and due date for the assignment, and press the create button. <br>
                                Edit <md-icon md-font-library="material-icons">edit</md-icon> or remove <md-icon md-font-library="material-icons">delete</md-icon> assignments by clicking on their icon. <br>
                                Changes are saved locally for this browser. Sync with your other devices by signing into google in the settings menu.
                            </p>
                            <h2 class="md-headline">Attribution</h2>
                            <p class="md-body-1">
                                Icons generated using
                                <a class="md-accent" href="https://romannurik.github.io/AndroidAssetStudio/">Android Asset Studio</a> by <a class="md-accent" href="https://github.com/romannurik">Roman Nurik</a>, licensed under <a class="md-accent" href="http://creativecommons.org/licenses/by/3.0/">CC BY 3.0</a>.
                            </p>
                            <h2 class="md-headline">Contact</h2>
                            <p class="md-body-1">
                                Send bug reports and feature requests to <a class="md-accent" href="mailto:procrastinatorapp@googlegroups.com" target="_blank">procrastinatorapp@googlegroups.com</a>.
                            </p>
                        </div>
                    </md-dialog-content>
                </md-dialog>
            </div>
        </div>
        <md-button class="md-fab md-fab-bottom-right" style="position:fixed" ng-show="!showSearch&&!creating" ng-click="showNewAssignment()">
            <md-icon md-font-library="material-icons">add</md-icon>
        </md-button>
    </md-content>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
    <script src="https://npmcdn.com/imagesloaded@4.1/imagesloaded.pkgd.js"></script>
    <script src="masonry.pkgd.min.js"></script>
    <script src="angular-masonry-directive.js"></script>
    <script src="colorPicker.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
    <script src="maincontroller.js" charset="utf-8"></script>
    <script src="drive.js" charset="utf-8"></script>
    <script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
</body>
</html>
