<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.css">
    <link rel="stylesheet" href="styles.css">
    <title>Procrastinator</title>
</head>
<body ng-app="App" ng-controller="mainController" md-theme="{{ theme }}" ng-cloak>
    <md-content style="height:100%">
        <md-toolbar class="md-hue-2" ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="showSideNav()" aria-label="Settings">
                    <md-icon md-font-library="material-icons">menu</md-icon>
                </md-button>
                <h2>
                    <span>Procrastinator</span>
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" aria-label="Settings" ng-click="showSearch=true">
                    <md-icon md-font-library="material-icons">search</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-toolbar md-theme="input" class="md-hue-1" ng-show="showSearch">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" ng-click="showSearch = !showSearch;search=''" aria-label="Back">
                    <md-icon md-font-library="material-icons">arrow_back</md-icon>
                </md-button>
                <md-input-container md-theme="input" flex>
                    <label>&nbsp;</label>
                    <input ng-model="search">
                </md-input-container>
                <md-button class="md-icon-button" aria-label="Search" ng-click="showSearch = !showSearch;search=''">
                    <md-icon md-font-library="material-icons">search</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-sidenav
        class="md-sidenav-left"
        md-component-id="left"
        md-is-locked-open="false"
        md-whiteframe="4">
        <md-content>
            <md-toolbar class="md-hue-2">
                <div class="md-toolbar-tools" ng-click="showSideNav()">
                    <h1>Back</h1>
                </div>
            </md-toolbar>
            <md-list flex>
                <md-list-item ng-click="null" ng-href="/">
                    <div class="md-list-item-text" layout="row">
                        <md-icon md-font-library="material-icons">home</md-icon>
                        &nbsp; Home
                    </div>
                </md-list-item>
                <md-list-item ng-click="showSettings($event)">
                    <div class="md-list-item-text" layout="row">
                        <md-icon md-font-library="material-icons">settings</md-icon>
                        &nbsp; Settings
                    </div>
                </md-list-item>
                <md-list-item ng-click="null" ng-href="/about">
                    <div class="md-list-item-text" layout="row">
                        <md-icon md-font-library="material-icons">info</md-icon>
                        &nbsp; About
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-sidenav>
    <md-content>
        <div class="loading" layout="column" layout-align="space-around center" ng-hide="(driveAuth&&driveLoaded)||!driveAuth">
          <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        </div>
        <md-card ng-show="showNewAssignment&&!showSearch">
            <md-card-title>
                <md-card-title-text  layout="row" layout-align="space-between start">
                    <span class="md-headline">New Assignment</span>
                    <md-button class="md-icon-button" aria-label="Settings" ng-click="showNewAssignment=false">
                        <md-icon md-font-library="material-icons">close</md-icon>
                    </md-button>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Name</label>
                    <input ng-model="newAssignment.name">
                </md-input-container>
                <md-input-container class="md-block" flex-gt-xs>
                    <label>Description</label>
                    <textarea ng-model="newAssignment.description" rows="3" md-select-on-focus></textarea>
                </md-input-container>
                <md-datepicker ng-model="newAssignment.dueDate" md-placeholder="Enter due date"></md-datepicker>
                <md-button class="md-primary" ng-click="addAssignment()">Create</md-button>
            </md-card-content>
        </md-card>
        <md-card ng-repeat="assignment in assignments|filter:search|orderBy:'dueDate'" md-swipe-right="removeAssignment(assignment)" class="assignment">
            <md-card-title>
                <md-card-title-text  layout="row" layout-align="space-between start">
                    <span class="md-headline">{{assignment.name}}</span>
                    <span class="md-subhead" style="padding:0">
                        <md-tooltip md-direction="down">
                            {{getDate(assignment)}}
                        </md-tooltip>
                        {{getDateDiff(assignment)}}
                    </span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                {{assignment.description}}
            </md-card-content>
        </md-card>
        <div style="visibility: hidden">
            <div class="md-dialog-container" id="settings">
                <md-dialog layout-padding>
                    <h2>Settings</h2>
                    <div layout="row" layout-align="center center">
                        <md-button md-theme="light" ng-click="theme='light'">Light Theme</md-button>
                        <md-button md-theme="dark" ng-click="theme='dark'">Dark Theme</md-button>
                    </div>
                    <div layout="row" ng-hide="driveAuth" layout-align="center center">
                        <md-button ng-click="handleAuthClick(event)">Link to Google</md-button>
                    </div>
                </md-dialog>
            </div>
        </div>
    </md-content>
    <md-button class="md-fab md-fab-bottom-right" ng-show="!showSearch&&!showNewAssignment" ng-click="showNewAssignment=true">
        <md-icon md-font-library="material-icons">add</md-icon>
    </md-button>
</md-content>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-messages.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.1.0/angular-material.min.js"></script>
<script src="app.js" charset="utf-8"></script>
<script src="maincontroller.js" charset="utf-8"></script>
<script src="drive.js" charset="utf-8"></script>
<script src="https://apis.google.com/js/client.js?onload=checkAuth"></script>
</body>
</html>
