.md-errors-spacer:empty { display: none; }
md-content{
    overflow: hidden;
}
md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 200px !important;
    width: 65vw !important;
    max-width: 400px !important;
}
.tile{
    width: 100%;
}
.card-container{
    margin: auto;
    width: 100%
}
@media only screen and (min-width: 600px) {
    .tile{
        width: 50%;
    }
}
@media only screen and (min-width: 960px) {
    .tile{
        width: 33.33%;
    }
}
@media only screen and (min-width: 1280px) {
    .card-container{
        min-width: 1280px;
        width: 60%
    }
}
@media only screen and (min-width: 1920px) {

}

.loading{
    max-height: 20px;
}
.loading.ng-hide{
    transition:0.25s ease-out all;
    max-height: 0;
    opacity: 0;
}
